# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android Studio / IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Android
android/.gradle/

# Logs
*.log

# Coverage
coverage/

# macOS
.DS_Store

# Generated
.flutter-plugins
.flutter-plugins-dependencies
generated_plugin_registrant.dart

# Flutter symbols
app.*.symbols
app.*.map.json